[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/editor/imgui"]
	path = src/editor/imgui
	url = https://github.com/ocornut/imgui.git
